class Config{
  constructor(opts) {
    this.network = "T"
    this.port = 3500
    this.nodeURL = "https://nodes-testnet.wavesnodes.com"; // https://nodes.wavesplatform.com
    this.providerUrl = "https://testnet.waves.exchange/signer/"; // "https://waves.exchange/signer/"
    this.userAddress = "3MsG6jPNCrVJUtYB7XJBxS7utWsXAf4n9Vp"; // 3P...
    this.dappAddress = "3N3un747n1iL9Q2RqjHvSdXYhukyk18hURa"; // 3P...
  }

  get(key) {
    return this[key];
  }

  set(key, val) {
    this[key] = val;
  }

}
module.exports = Config